body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    font-size: 3rem;
    transition: font-size 0.2s ease; /* Smooth transition for hover effect */
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

h1:hover {
    font-size: 3.5rem; /* Increase font size on hover */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #f8f9fa;
    }
}
